.user_photo {
  margin-top: 20px;
  width: 200px; /* Встановлює ширину аватарки */
  height: 200px; /* Встановлює висоту аватарки */
  border-radius: 50%; /* Робить аватарку круглою */
  border: 2px solid #007bff; /* Додає кольорову рамку */
  object-fit: cover; /* Забезпечує, що зображення не розтягнеться */
}
